<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MY TODO LIST</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{%static 'home/todo.css'%}">
    </head>
    <body>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
        $(document).ready(function(){
          var w=screen.width;
          if(w<768)
          {
            $('#opnbtn').html('☰');
            $('#opnbtn').attr('onclick','openNav()');
            $(".sidenav").attr('style','display:none;');
          }
          else
            $('.closebtn').hide();
        });
        function openNav()
        {
            $('.sidenav').attr('style','display:block;');
        }
        function closeNav()
        {
          $('.sidenav').attr('style','display:none;');
        }
        function getsid(id){
           $('#deleteit').click(function(){
            $.ajax({
                type: "POST",
                url: "{% url 'delete' %}",   
                data: {"csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val(),"id": id},
                success:function(){ location.reload() },
                error: function(){ console.log('error')}
            });
           })
           $('#cancel').click(function(){
             id=0;
           })
          }
      </script>
      <nav class="navbar navbar-dark bg-primary">
            <span id="opnbtn" class="navbar-brand mb-0 h1">ToDo List</span>
            <span class="navbar-brand my-6">Total Items({{ total }})</span>
        </nav>
          <div class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <span style="font-weight: bold;">Update here</span>
            <form action="updating/" method="POST">{% csrf_token %}
                  {% for i in task %}
                    {% if i.completed == True %}
                        <input id="removed" type="checkbox" name="tick" value="{{ i.id }}" checked>
                    {% else %}
                        <input id="removed" type="checkbox" name="tick" value="{{ i.id }}">
                    {% endif %}
                    <label id="taskname">{{ i.taskname }}</label>
                    <button onclick="getsid({{i.id}})" id="cross" value="{{i.taskname}}" style="float: right; margin-left: -50%;" type="button" class="close" aria-label="Close" data-toggle="modal" data-target="#deleteModal">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <br>
                  {% endfor %}
                <button class="btn btn-secondary">Submit</button>
            </form>
          </div>
          <p><br></p>
          <div class="container mydiv">
          <h1>Add, Update and check your progress!</h1>
          <p><br></p>
          <form style="text-align: center;" action="adding/" method="POST">{% csrf_token %}
                <input type="text" name='task' placeholder='Enter task'>
                <button class="btn btn-secondary">Add Task</button>
          </form>
          <p><br></p>
          <h3 style="text-align: center;">Tasks completed : {{ complete }}</h3>
          <h3 style="text-align: center;">Tasks left : {{ incomplete }}</h3>
          <p><br></p>
          <div class="progress" style="margin-left: 400px; margin-right: 100px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ com }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ com }}%;">{{ com }}%</div>
          </div>
          <p><br></p>
          <form style="text-align: center;" action="reset/" method="POST">{% csrf_token %}
            <button class="btn btn-secondary">Reset</button>
          </form>
          </div>
          <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete Task</h5>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the task ?
                </div>
                <div class="modal-footer">
                 <button name="taskid" id="deleteit" type="button" class="btn btn-primary">Delete</button>
                  <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
            </div>
    </body>
</html>
