.sidenav {
    margin-top: 55px;
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #e3f2fd; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
.sidenav span,form {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }