.mydiv{ text-align: center;}
.sidenav {
    margin-top: 55px;
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #e3f2fd; 
    overflow-x: hidden; 
    padding-top: 20px;
  }
.sidenav span,form {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
    .sidenav span{font-size: 30px;}
  }